.code-view {
  font-size             : 16px;
  line-height           : 1.8em;
  text-align            : justify;
  -webkit-font-smoothing: antialiased;

  &>*:first-child {margin-top: 0 !important;}
  &>*:last-child {margin-bottom: 0 !important;}

  code[class*=language-], pre[class*=language-] {
    font-size: 14px;
    background: $color-normal;
    color: #fff;
    padding: 1em 1.5em 1em 40px;
    display: block;
    overflow: auto;
  }
  .hljs-comment{color: $color-light;}
  code{background: $color-theme; color: #fff; padding: 0 5px; border-radius: 3px;}
  blockquote {border-left: 5px solid $color-theme; padding: 10px 15px; background: #eee;}
  blockquote>:first-child {margin-top: 0;}
  blockquote>:last-child {margin-bottom: 0;}
  // 行号
  pre {position: relative;}
  .pre-numbering {
    padding: 0; margin: 0;
    position: absolute; top: 0.875em; left: 0; width: 30px; border-right: 1px solid $color-light; text-align: center;
    li{list-style: none; color: $color-light; font-size: 1em; line-height: 1.8em; margin: 0;}
  }

  p, blockquote, ul, ol, dl, li, table, pre {
    margin: 0.8em 0;
  }
  ul, ol{
    padding-left: 25px;
    &:first-child{margin-top: 0;}
  }
  li{list-style: disc;}
  a{
    word-wrap: break-word; outline: none; border-bottom: 1px solid $color-normal; cursor: pointer;
    &:hover{border-bottom: 1px solid $color-theme;}
  }
  img{display: block; max-width: 100%; padding: 5px; box-sizing: border-box; border: 1px solid $color-line;}

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    position   : relative;
    line-height: 2em;
    margin-top: 1em;
  }
  h1 {font-size: 28px; color: $color-normal;}
  h2 {font-size: 24px; border-bottom: 1px solid $color-line; color: $color-normal;}
  h3 {font-size: 22px; color: $color-normal;}
  h4 {font-size: 20px; color: $color-normal;}
  h5 {font-size: 18px; color: $color-normal;}
  h6 {font-size: 16px; color: $color-normal;}
}